div#introContainer			
	p
		img(src="images/mattise_whitebg.png")
	- if(everyauth.loggedIn)
		- if(everyauth.twitter)
			p
				img(class="rightFloater",src="#{everyauth.twitter.user.profile_image_url}")
			p
				h2 Hi #{everyauth.twitter.user.name}!
				
		- if(everyauth.facebook)
			p
				img(class='rightFloater', src='images/profile_image_placeholder.gif')
			p
				h2 Hi #{everyauth.facebook.user.name}!
				
		- if(everyauth.google)
			p
				img(class='rightFloater', src='images/profile_image_placeholder.gif')
			p
				h2 Hi #{everyauth.google.user.name}!
		p
			a(href='/boards/') Create Board 
			font(size="3") | 
			a(href="/logout") Logout
	- else
		p.rightFloater
			a(href='/auth/twitter', style='border: 0px')
				img(class='loginIcon', src='images/login icons/twitter.png')
			a(href='auth/facebook')
				img(class='loginIcon', src='images/login icons/facebook.png')
			a(href='auth/google')
				img(class='loginIcon', src='images/login icons/google.png')
