!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.css')
    script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery-1.7.min.js')
    script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap.js')
    script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap-carousel.js')
  body!= body
    div(class='container')
      div(class='span-one-third leftContainer')
        div(class='row')
          div(class='span leftHeader')
            img(src='images/mattise_whitebg.png')
        div(class='row')
          div(class='span headerDivider headerDividerLeft')
        div(class='row content leftContent') 
          h3 Login with
          div(class='loginIconBar')
              a(href='/auth/twitter', style='border: 0px')
                img(class='loginIcon', src='images/login icons/twitter-new.png')
              a(href='auth/facebook')
                img(class='loginIcon', src='images/login icons/facebook-new.png')
              a(href='auth/google')
                img(class='loginIcon', src='images/login icons/google-new.png')
        div.row
          div(class='span footerDivider footerDividerLeft')
        div(class='row leftFooter')
          div(class='span')
            img(class='footerLogoIcon', src='images/imaginea.png', height='20')
          div(class='span')
            img(class='followUsIcon', src='images/followus.png', height='20')
      div(class='span-two-third rightContainer')
        div(class='row')
          div(class='span rightHeader')
            div(class='span8 text')
              img(src='images/q1.png', alt='"', align='top', width='20', height='20') 
              p.italic Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              img(src='images/q2.png', alt='"', align='top', style='float:right;margin-right: 10px;', width='20', height='20')
        div(class='headerDivider headerDividerRight')
        div(class='row content')
          div(class='span8')
            div(class='row')
              div(class='span4 rightContent')
                h3 Whats new ?
              div(class='span2 rightContent')
                button(class='greyButton') Latest version: 1.0.1
              div(class='span2 rightContent')
                button(class='greyButton') Last updated Mar 22,2012
            div(class='row')
              div(class='span8')
                ul(class='newFeatureList')
                  li.first The whole design of matisse is new
                  li Manoj have started working on frontend
                  li Paridhi and jagadesh has joined matisse team
                  li jagadesh is working on new board style
                  li.last Manoj has to finish dashboard also by wed :(
            div(class='row')
            div(class='row')
              hr(class='dashes')
              div(class='span8 columns')
                div(id='myCarousel', class='carousel slide')
                  div(class='carousel-inner')
                    div(class='active item')
                      img(src='images/item1.jpg', alt='', width='640', height='500', style='padding:20px 20px 20px 35px;')
                      div(class='carousel-caption')
                        h4 Third Thumbnail label
                        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    div(class='item')
                      img(src='images/item2.jpg', alt='', width='640', height='500', style='padding:20px 20px 20px 35px;')
                      div(class='carousel-caption')
                        h4 Third Thumbnail label
                        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    div(class='item')
                      img(src='images/item3.jpg', alt='', width='640', height='500', style='padding:20px 20px 20px 35px;')
                      div(class='carousel-caption')
                        h4 Third Thumbnail label
                        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  a(class='carousel-control left', href='#myCarousel', data-slide='prev') &lsaquo;
                  a(class='carousel-control right', href='#myCarousel', data-slide='next') &rsaquo;
        div(class='footerDivider footerDividerRight')
        div.row
          div(id='footer')
            div(class='footerInner')
              div(class='footerMenu')
                a(href='/about') About Us  .  
                a(href='/wiki') Matisse Wiki  .  
                a(href='/github') Github Repository  .   
                a(href='/bugtrack') Bug Tracker
              div(class='copyrights') copyright&copy;2012