!!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.css')
    script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery-1.7.min.js')
    script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap.js')
  body!= body
    div(class='container')
      div(class='row', id='homepage-header')
          div(class='span4 leftHeader')
            img(src='images/mattise_whitebg.png')
          div(class='span8 rightHeader')
            div(class='text')
              img(src='images/q1.png', alt='"', align='top', width='20', height='20') 
              p.italic Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.asifudhsuidfhsdfui disdhfiusdhfuisdh dfhsduifhsduifhisduf ishfuisdhfuisdfh isdfhuisdfhuisdhfi.
              img(src='images/q2.png', alt='"', align='top', style='float:right;margin-right: 10px;', width='20', height='20')
      div(class='row', id='headerDivider')
        div(class='span4', id='headerDividerLeft') 
        div(class='span8', id='headerDividerRight')











































script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap-carousel.js')