html, body {
    height: 96%
}

body {
    padding: 0;
    margin: 0;
    background: #dde1e5 !important;
    color: #666;
    font-size: 12px;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

h1 {
    font-style: Italic;
    font-size: 14px;
    color: #1886db;
    font-family: Arial, Helvetica, sans-serif;
}

h2 span {
    font-weight: 400;
    font-size: 25px;
    color: #39F;
}

h4 {
    font-style: Italic;
    font-size: 12px;
    color: #d3dae5;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    background: #eef;
    display: inline-block;
    padding-right: 15px;
    margin-left: 15px;
}

p {
    /*margin-top:3px;
    margin-bottom:3px;*/
    font-family: Verdana, Georgia, Serif;
    font-size: 12px;
}

label {
    font-family: Verdana, Georgia, Serif;
}

.hidden {
    visibility: hidden;
}

.unhidden {
    visibility: visible;
}

.inbox {
    width: 50px;
    padding: 2px
}

textarea {
    resize: none;
}

label {
    width: 60px;
    line-height: 23px;
    padding-left: 5px;
    margin: 5px;
    font-size: 14px;
    /*  border: 1px solid #000;*/
    float: left;
    /*  background-color:#eef;*/
    color: #003;
}

/*color {
    width:100px;
    height:23px;
    margin:5px;
    border: 1px solid #000;
    text-align:center;
    float:right;
    font-size:12px;
}*/

.topicons {
    position: relative;
    top: 20px;
    width: 16px;
    height: 16px;
}

.combo {
    position: relative;
    top: 20px;
    width: 100px;
    height: 20px;
}

* html #outer {
    height: 100%;
}

/* IE6 and under treat height as min-height anyway*/

#header {
    /*background:#125699;
  //border-top:1px solid #fff;
  //border-bottom:1px solid #fff;*/
    color: #fff;
    height: 80px; /* ie 7 haslayout fix */
    text-decoration: none;
}

#leftdiv {
    width: 100px;
    float: left;
}

#accordion {
    height: 100%;
}

#toolsdiv {
    height: 100%;
    overflow: hidden;
}

#canvasId {
    float: none;
    overflow: auto;
    background-color: #FFF;
    position: relative;
}

#containerDiv {
    float: none;
    overflow: auto;
    /*background-color:#AAB0BB;*/
    background-image: url('../images/canvas_bg.gif');
    position: absolute;
    left: 100px;
    top: 103px;
}

#containerBody {
    float: none;
    overflow: auto;
    /*background-color:#D3DAE5;*/
    position: relative;

}

#leftdiv p {
    padding-left: 2px;
    padding-right: 2px
}

#right {
    display: none;
    width: 0px;
    height: 0px;
}

#version {
    color: #AAAAAA;
    float: right;
    font-family: arial;
    font-size: 13px;
    margin: 5px 30px 0 0;
}

#user {
    color: #AAAAAA;
    float: right;
    font-family: arial;
    font-size: 13px;
    margin: 5px 30px 0 0;
}

#menuicons {
    margin: 55px 20px 0px 0px;
}

#menuicons img {
    margin: 0 5px 0 5px;
    cursor: pointer;
}

#logo {
    position: absolute;
    left: 10px;
}

#leftdiv img {
    cursor: pointer;
}

.tools {
    margin: -12px 0 5px -30px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: url('../images/tools_sprite.png') no-repeat;
}

#logo-wrapper {
    float: left;
    margin: 15px 0 0 30px;
}

#logo-tag-wrapper {
    font-family: arial;
    font-size: 14px;
    float: right;
    text-decoration: none;
}

#logo-tag-wrapper:hover {
    color: #026CD0;
}

#icons-wrapper {
    float: right;
}

.ui-accordion-content {
    background-color: #D3DAE5;
}

.shape-active {
    background-color: #9BA2AD;
    color: #FFF;
    box-shadow: -1px -1px 2px 1px #666666 inset;
    -webkit-box-shadow: -1px -1px 2px 1px #666666 inset;
    -moz-box-shadow: -1px -1px 2px 1px #666666 insets;
}

#shape {
    text-align: center;
}

#shape img {
    display: inline-block;
}

#shape-label {
    text-align: center !important;
    clear: both !important;
    position: relative;
    top: -10px;
}

.ui-accordion-content {
    margin: 0px !important;
    padding: 0px !important;

}

div.scroller {
    cursor: pointer;
}

.scroller-up {
    height: 14px;
    background: #AAAAAA url('../images/up_arrow.png') no-repeat center center;
}

.scroller-down {
    height: 14px;
    background: #8F98A6 url('../images/down_arrow.png') no-repeat center center;
}

.shapesHolder {
    overflow: hidden;
}

.scrollerContentHolder {
    position: relative;
}

#popUpDiv {
    position: absolute;
    background-color: #eeeeee;
    width: 300px;
    height: 300px;
    z-index: 9002;
}

#helpDiv {
    position: absolute;
    background-color: #eeeeee;
    width: 800px;
    height: 600px;
    z-index: 9003;

}

#helpInnerDiv {
    padding: 15px !important;
}

#helpInnerDiv h1 {
    background: #474747;
    color: white;
    padding: 10px;
}

#blanket {
    background-color: #111;
    opacity: 0.65;
    filter: alpha(opacity = 65);
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
}

#closediv  a {
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    color: white;
}

input.file {
    position: relative;
    top: 20px;
    width: 100px;
    height: 16px;
    text-align: right;
    visibility: hidden;
    z-index: 2;
}

.rightFloater {
    float: right;
}

#introContainer {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.loginIcon {
    width: 32px;
    border: 0px;
    margin: 0 10px 0 0;
}


.profilePic {
    width: 50px;
    height: 50px;
}


#delete_menuItem {
    position: absolute;
    width: 60px;
    height: 20px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    background: #eee url('../images/delete_object.png') no-repeat;
    padding-left: 10px;
    z-Index: 1050;
    text-align: center;
    cursor: default;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

#loginLogo {
    padding: 30px 0px 20px 40px;
}

.rightHeader {
    min-height: 142px;
    background-color: #464d57;
}

#testimonial {
    padding: 20px 20px 20px 20px;
    color: #1886DB;
    font-family: Arial, Helvetica, sans-serif;
    font-style: Italic;
    font-size: 14px;
}
#testimonial p {
    color: #1886DB;
    font-style:italic;
    margin: 0 0 0 40px;
}
#rightQuote {
    clear:both;
}

.leftHeader {
    background-color: #ffffff;
}
#loginHeader {
    background: #fff;
}
#loginContent {
    background: #fff;
}
#loginFooter {
    background: #fff;
}
#loginHeaderDivider {
    background: url('../images/headerdivider_left.png') repeat-x;
}
#loginHeaderDividerLeft {
    height: 20px;
    background: url('../images/headerdivider_left.png') repeat-x;
}

#loginHeaderDividerRight {
    height: 20px;
    background: url('../images/headerdivider_right.png') repeat-x;
}

.content { 
    min-height: 648px;
}

#loginLeftContent {

}
#userInfo {


}
#userInfo .profileDetails {
    min-height: 50px;
    color: #8a9ab1;
    text-align:center;
}
#userInfo .profileLink {
    color: #1886DB;
}
#userInfo .profilePic {
    margin-left: 20px;
}
#userInfo h6 {
   font-size: 9px;
}
#userInfo .loginSource {
    font-size: 11px;
}

#loginLeftContent h3 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: inherit;
    color: #8a9ab1;
    padding-bottom: 5px;
}

.loginIconBar {
    display: inline;
    margin: inherit;
}

.leftContentDivider {
    border-top: 1px dotted #8a9ab1;
    border-bottom: 0;
    margin: 30px 0px 5px 40px;
}

.blueButton {
    background-color:#036cd7;
    border-radius: 3px;
    border: 1px solid #0460bd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding: 7px 15px;
}

#loginRightContent {
    background-color: #464d57;
}

#loginRightContent h3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    color: #d3dae5;
    padding-left: 10px;
    
}

#rightContentButton {
    margin: 0;
}
.greyButton {
    color:#ffff00;
    border-radius: 3px;
    border: 1px solid #414952;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #464d57;
    padding: 7px 15px;
}

ul.newFeatureList {
    list-style-image: url('../images/bullet.png');
    color: #d3dae5;
    font-style: italic;
    margin-left: 30px;
}
                  ul.newFeatureList li {
                     margin-top: 1em;
		     padding-left: 20px;
                  }

.dashes {
    border-top: 1px dotted #8a9ab1;
    border-bottom: 0;
    margin: 15px 30px 20px 50px;
}
.carouselTitle {
    padding-bottom: 30px;

}
#myCarousel {
    padding-left: 30px;
    margin-right: 20px;
}
#myCarousel .carousel-control {
  top: 35% !important;
  width: 0px !important;
  margin-top: 0px !important;
  border: 0px solid #000000 !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.thumbnails {
    margin-left: 0px !important;
}
.dashboardThumbnail {
    height: 120px;
    width: 140px;
}
.thumbnail {
    height: 240px;
    box-shadow: 0 0 0 0 #000 !important;
}
.thumbnails li {
    margin-bottom: 0px !important;
}
.rightThumbnail {
    padding-left: 40px !important;
}
.dashbaordRightThumbnail {
    padding-left: 30px !important;
}
.sampleWb {
    border-radius: 3px !important;
    border: 1px none #000000 !important;
    width: 240px;
    height: 240px;
}
.sampleWb img {
   border-radius: 7px;
   border: 1px solid #464d57;
   box-shadow: 1px 1px 3px 2px #000000;
   -webkit-box-shadow: 1px 1px 3px 2px #000000;
   -moz-box-shadow: 1px 1px 3px 2px #000000;
 }
.dashboardWhiteBoardItem {
    border-radius: 3px !important;
    border: 0px none #464d57 !important;
}
.dashboardWhiteBoardItem img {
    border-radius: 7px;
    border: 0px solid #464d57;
    box-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 1px 1px 3px 2px #000000;
    -moz-box-shadow: 1px 1px 3px 2px #000000;
}
.leftThumbnail {
    padding-left: 0px;
}
dashboardLeftThumbnail {

}
.thumbnailText {
    color: #d3dae5;
    padding-top: 15px;
}
.thumbnailText .italic {
    font-style: italic;
    font-size: 9px;
    margin-bottom: 0px;
}
.thumbnailCaption {
    color: #1886DB;
    font-style: normal !important;
}
#loginLeftFooter {
    background-color: #ffffff;
}
#LeftFooterIcon {
    padding: 30px 0px 0px 0px;
}
#loginRightFooter {
    background-color: #464d57;
}

#footer{
	font-size: 13px;
	min-height: 60px;
	margin-left: 30px;
	padding: 20px 20px 20px 0px;
}
	.footerInner{
		margin: 0 auto;
		padding: 12px 0;
	}
		.footerMenu{
			float: left;
		}
			.footerMenu a{
			        font-family: Arial, Helvetica, sans-serif;
				color: #8a9ab1;
				padding: 5px 5px;
			}
			.footerMenu a:hover {
			    color: #208fdb;
			    text-decoration:none;
			}
		.copyrights{
		        color: #8a9ab1;
			text-align: right;
			float: right;
		}

#loginFooterDivider {
    background: url('../images/footerdivider_left.png') repeat-x;
}
#loginFooterDividerLeft {
    height: 20px;
    background: url('../images/footerdivider_left.png') repeat-x;
}

#loginFooterDividerRight {
    height: 20px;
    background: url('../images/footerdivider_right.png') repeat-x;
}
.numButton {
    color:#ffffff;
    border: 1px solid #414952;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    background-color: #464d57;
    width: 85px;
    height: 80px;
    -moz-box-shadow:    2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow:         2px 2px 2px #000;
}
#launchButton .btn {
    background:#1886DB;
    border-radius: 2px;
    border: 1px solid #08C;
    padding: 5px 15px 3px 15px;
    box-shadow: 1px 1px 1px #1886DB;
    -moz-box-shadow:    1px 1px 1px #1886DB;
    -webkit-box-shadow: 1px 1px 1px #1886DB;
    font-family: Helvetica Neue, Helvetica, sans-serif !important;
    font-size: 18px !important;
    color: #ffffff !important;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    margin-right: 40px;
}
#rightHeaderContent {
    padding-top: 15px;
}
#rightHeaderButton {
    margin: 0;
}
#navBarSearch {
    padding-top: 5px;
}
#navBarSearch .search-query{
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    width: 257px;
    height: 27px;
    font-style: italic;
    background: #ffffff;
}
.numButton h3 {
    color:#1886DB;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.numButton h6 {
    color: #ffffff;
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
#loginRightContent {
    min-height: 648px;
}
#loginRightContent .whiteboardList {
    min-height: 200px;
}

#loginRightContent h3.dashboardRightContentHeading {
    margin-left: 20px;
    padding-right: 10px;
}
#showAllCreateWhiteBoard {

}
                    #showAllCreateWhiteBoard a {
			font-family: Arial, Helvetica, sans-serif;
			color: #8a9ab1;
		    }
                    #showAllCreateWhiteBoard a:hover {
			color: #208fdb;
			text-decoration:none;
		    }
#showAllSharedWhiteBoard {

}
                    #showAllSharedWhiteBoard a {
			font-family: Arial, Helvetica, sans-serif;
			color: #8a9ab1;
		    }
                    #showAllSharedWhiteBoard a:hover {
			color: #208fdb;
			text-decoration:none;
		    }
#whiteboardForm h4 {
    font-style: Normal !important;
}