html, body {
    height: 96%
}

body {
    padding: 0;
    margin: 0;
    background: #FFF;
    color: #666;
    font-size: 12px;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

h1 {
    font-style: Italic;
    font-size: 14px;
    color: #1886db;
    font-family: Arial, Helvetica, sans-serif;
}

h2 span {
    font-weight: 400;
    font-size: 25px;
    color: #39F;
}

.leftContent h3 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: inherit;
}
.rightContent h3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
    color: #d3dae5;
    padding-left: 10px;
    
}

h4 {
    font-style: Italic;
    font-size: 12px;
    color: #d3dae5;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    background: #eef;
    display: inline-block;
    padding-right: 15px;
    margin-left: 15px;
}

p {
    /*margin-top:3px;
    margin-bottom:3px;*/
    font-family: Verdana, Georgia, Serif;
    font-size: 12px;
}
p.italic {
    font-style:italic;
    margin-left: 10px;
}



label {
    font-family: Verdana, Georgia, Serif;
}

.hidden {
    visibility: hidden;
}

.unhidden {
    visibility: visible;
}

.inbox {
    width: 50px;
    padding: 2px
}

textarea {
    resize: none;
}

label {
    width: 60px;
    line-height: 23px;
    padding-left: 5px;
    margin: 5px;
    font-size: 14px;
    /*  border: 1px solid #000;*/
    float: left;
    /*  background-color:#eef;*/
    color: #003;
}

/*color {
    width:100px;
    height:23px;
    margin:5px;
    border: 1px solid #000;
    text-align:center;
    float:right;
    font-size:12px;
}*/

.topicons {
    position: relative;
    top: 20px;
    width: 16px;
    height: 16px;
}

.combo {
    position: relative;
    top: 20px;
    width: 100px;
    height: 20px;
}

* html #outer {
    height: 100%;
}

.leftContainer {
    background-color: #ffffff;
}
.leftContainer .leftHeader {
    padding: 30px 20px 20px 20px;
    height: 100px;
}
 
.rightContainer {
    background-color: #464d57;
}

.rightContainer .rightHeader {
    height: 150px;
}

.text {
    padding-top: 30px;
}

.headerDivider {
    height: 20px;
}
.headerDividerLeft {
    width: 100%;
    background: url('../images/headerdivider_left.png') repeat-x;
}

.headerDividerRight {
    width: 100%;
    background: url('../images/headerdivider_right.png') repeat-x;
}

div.leftContent {
    margin-left: 10px;
}

.loginIconBar {
    display: inline;
    margin: inherit;
}

.rightHeader p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: Italic;
    font-size: 14px;
    color: #1886db;
}

/* IE6 and under treat height as min-height anyway*/

#header {
    /*background:#125699;
  //border-top:1px solid #fff;
  //border-bottom:1px solid #fff;*/
    color: #fff;
    height: 80px; /* ie 7 haslayout fix */
    text-decoration: none;
}

#leftdiv {
    width: 100px;
    float: left;
}

#accordion {
    height: 100%;
}

#toolsdiv {
    height: 100%;
    overflow: hidden;
}

#canvasId {
    float: none;
    overflow: auto;
    background-color: #FFF;
    position: relative;
}

#containerDiv {
    float: none;
    overflow: auto;
    /*background-color:#AAB0BB;*/
    background-image: url('../images/canvas_bg.gif');
    position: absolute;
    left: 100px;
    top: 103px;
}

#containerBody {
    float: none;
    overflow: auto;
    /*background-color:#D3DAE5;*/
    position: relative;

}

#leftdiv p {
    padding-left: 2px;
    padding-right: 2px
}

#right {
    display: none;
    width: 0px;
    height: 0px;
}

#version {
    color: #AAAAAA;
    float: right;
    font-family: arial;
    font-size: 13px;
    margin: 5px 30px 0 0;
}

#user {
    color: #AAAAAA;
    float: right;
    font-family: arial;
    font-size: 13px;
    margin: 5px 30px 0 0;
}

#menuicons {
    margin: 55px 20px 0px 0px;
}

#menuicons img {
    margin: 0 5px 0 5px;
    cursor: pointer;
}

#logo {
    position: absolute;
    left: 10px;
}

#leftdiv img {
    cursor: pointer;
}

.tools {
    margin: -12px 0 5px -30px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: url('../images/tools_sprite.png') no-repeat;
}

#logo-wrapper {
    float: left;
    margin: 15px 0 0 30px;
}

#logo-tag-wrapper {
    font-family: arial;
    font-size: 14px;
    float: right;
    text-decoration: none;
}

#logo-tag-wrapper:hover {
    color: #026CD0;
}

#icons-wrapper {
    float: right;
}

.ui-accordion-content {
    background-color: #D3DAE5;
}

.shape-active {
    background-color: #9BA2AD;
    color: #FFF;
    box-shadow: -1px -1px 2px 1px #666666 inset;
    -webkit-box-shadow: -1px -1px 2px 1px #666666 inset;
    -moz-box-shadow: -1px -1px 2px 1px #666666 insets;
}

#shape {
    text-align: center;
}

#shape img {
    display: inline-block;
}

#shape-label {
    text-align: center !important;
    clear: both !important;
    position: relative;
    top: -10px;
}

.ui-accordion-content {
    margin: 0px !important;
    padding: 0px !important;

}

div.scroller {
    cursor: pointer;
}

.scroller-up {
    height: 14px;
    background: #AAAAAA url('../images/up_arrow.png') no-repeat center center;
}

.scroller-down {
    height: 14px;
    background: #8F98A6 url('../images/down_arrow.png') no-repeat center center;
}

.shapesHolder {
    overflow: hidden;
}

.scrollerContentHolder {
    position: relative;
}

#popUpDiv {
    position: absolute;
    background-color: #eeeeee;
    width: 300px;
    height: 300px;
    z-index: 9002;
}

#helpDiv {
    position: absolute;
    background-color: #eeeeee;
    width: 800px;
    height: 600px;
    z-index: 9003;

}

#helpInnerDiv {
    padding: 15px !important;
}

#helpInnerDiv h1 {
    background: #474747;
    color: white;
    padding: 10px;
}

#blanket {
    background-color: #111;
    opacity: 0.65;
    filter: alpha(opacity = 65);
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
}

#closediv  a {
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    color: white;
}

input.file {
    position: relative;
    top: 20px;
    width: 100px;
    height: 16px;
    text-align: right;
    visibility: hidden;
    z-index: 2;
}

.rightFloater {
    float: right;
}

#introContainer {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.loginIcon {
    width: 32px;
    border: 0px;
    margin: 0 10px 0 0;
}

.profilePic {
    width: 50px;
}

#delete_menuItem {
    position: absolute;
    width: 60px;
    height: 20px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    background: #eee url('../images/delete_object.png') no-repeat;
    padding-left: 10px;
    z-Index: 1050;
    text-align: center;
    cursor: default;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

div.leftFooter {
    background-color: #ffffff;
    padding: 20px 5px 20px 20px;
}

#footer{
	background-color: #464d57;
	font-size: 13px;
	height: 60px;
	margin-left: 30px;
	padding: 20px 20px;
}
	.footerInner{
		margin: 0 auto;
		padding: 12px 0;
	}
		.footerMenu{
			float: left;
		}
			.footerMenu a{
			        font-family: Arial, Helvetica, sans-serif;
				color: #8a9ab1;
				padding: 5px 5px;
			}
			.footerMenu a:hover {
			    color: #208fdb;
			    text-decoration:none;
			}
		.copyrights{
		        color: #8a9ab1;
			text-align: right;
			float: right;
		}

.footerDivider {
    height: 20px;
}
.footerDividerLeft {
    width: 100%;
    background: url('../images/footerdivider_left.png') repeat-x;
}

.footerDividerRight {
    width: 100%;
    background: url('../images/footerdivider_right.png') repeat-x;
}
.content { 
    min-height: 648px;
}

.greyButton {
    color:#ffff00;
    border-radius: 3px;
    border: 2px solid #414952;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #464d57;
    padding: 7px 15px;
}

.blueButton {
    background-color:#036cd7;
    border-radius: 3px;
    border: 1px solid #0460bd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding: 7px 15px;
}
ul.newFeatureList {
    list-style-image: url('../images/bullet.png');
    color: #d3dae5;
    font-style: italic;
    margin-left: 60px;
}
                  ul.newFeatureList li {
                     margin-top: 1em;
		     padding-left: 20px;
                  }

.dashes {
    border-top: 1px dotted #8a9ab1;
    border-bottom: 0;
    margin: 15px 0px 20px 65px;
}
.carouselTitle {
    padding-bottom: 30px;

}
#myCarousel {
    padding-left: 30px;
}
#myCarousel .carousel-control {
  top: 35% !important;
  width: 0px !important;
  margin-top: 0px !important;
  border: 0px solid #ffffff !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.thumbnails {
    margin-left: 0px !important;
}
.thumbnail {
    height: 240px;
}
.rightThumbnail {
    padding-left: 60px !important;
}
.sampleWb {
    background: #ffffff;
    border-radius: 3px !important;
}
.leftThumbnail {
    padding-left: 20px;
}
.thumbnailText {
    color: #d3dae5;
    padding-top: 15px;
}
.thumbnailCaption {
    color: #1886DB;
    font-style: normal !important;
}
