

a {
color:#00B7FF;
}



h2 span {
font-weight:400;
font-size:25px;
color:#39F;
}

pre {
background:#eef;
display:inline-block;
padding-right:15px;
margin-left:15px;
}

p {
/*margin-top:3px;
margin-bottom:3px;*/
font-family:Verdana, Georgia,Serif;
font-size: 12px;
}


label {
font-family:Verdana, Georgia,Serif;
}


.hidden {
visibility:hidden;
}

.unhidden {
visibility:visible;
}

.inbox {
width: 50px; 
padding: 2px
}

textarea {
    resize: none;
}

html, body {height:100%}

body {
padding:0;
margin:0;
background:#F0F0F0 repeat-y left top;
color: #FFFFFF;
font-size: 12px;
}

label {
    width:60px;
    line-height:23px;
    padding-left:5px;
    margin:5px;
	font-size:14px;
  /*  border: 1px solid #000;*/
    float:left;
  /*  background-color:#eef;*/
    color:#003;
}
/*color {
    width:100px;
    height:23px;
    margin:5px;
    border: 1px solid #000;
    text-align:center;
    float:right;
	font-size:12px;	
}*/

.topicons {
	position:relative;
	top:20px;
	right:-500px;
}
#outer{ 
min-height:100%;
background:#F0F0F0;
border-left:1px solid #fff;
border-right:1px solid #fff;
color: #000000;
min-width:100%;
}
* html #outer{height:100%;} /* IE6 and under treat height as min-height anyway*/

#header{
/*background:#125699;
//border-top:1px solid #fff;
//border-bottom:1px solid #fff;*/
color: #fff;
text-align:center;
position:relative;
padding-top:0px;
min-height:50px;/* ie 7 haslayout fix */
font-size:100%;
text-decoration:none;
width:100%;
}

#leftdiv {
width:200px;/* same as the left margin on #outer*/
float:left;
left:-2px;/* push column into position*/
height:100%; 
}

#toolsdiv {
height:300px;
}

#canvasId{
position:absolute;
left:204px;
top: 62px;
width:800px;/* same as the left margin on #outer*/
float:left;
height:100%; 
}

/*#c{
width:100%;/* same as the left margin on #outer
height:100%; 
}*/

#leftdiv p {padding-left:2px;padding-right:2px}
/*#right p {padding-left:2px;padding-right:2px}*/

